{% use 'tailwind_2_layout.html.twig' %}

{# On redéfinit uniquement le bloc des erreurs #}
{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="mt-2 space-y-1">
            {% for error in errors %}
                {# On utilise des div au lieu de ul/li pour éviter les puces par défaut #}
                <div class="flex items-center gap-2 text-sm text-red-600 font-semibold bg-red-50 p-2 rounded-lg border border-red-100">
                    
                    {# --- L'ICÔNE --- #}
                    <span class="flex-shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                    </span>

                    {# --- LE MESSAGE (ex: "Ce pseudo est déjà pris") --- #}
                    <span>{{ error.message }}</span>
                    
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}